.product-card {
  background-color: blanchedalmond;
  padding: 16px;
  width: 370px;
  border-radius: 5px;
}
.card-image {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.remove-button,
.favorite-button {
  top: -5px;
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 500ms ease;
}

.remove-button {
  right: 0;
  background-color: brown;
}

.favorite-button {
  left: 0;
  background-color: pink;
}

.remove-button:hover,
.favorite-button:hover {
  transform: scale(1.1);
}
