.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.flex-between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.padding {
  padding: 30px 0;
}

.center {
  display: flex;
  width: 100%;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.relative {
  position: relative;
}
