.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}


.flex-between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.padding {
  padding: 30px 0;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}



.flexColumnLeftMedium {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: stretch;
}

.flexAround {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}


.flexBetweenStart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
}

.flexCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 32px;
}

.center {
  display: flex;
  width: 100%;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.flexShort {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flexMedium {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.flexReverse {
  display: flex;
  flex-direction: row-reverse;
}

.relative {
  position: relative;
}
