::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  border: 2px solid white;
  background-color: gray;
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  font-size: 16px;
  cursor: pointer;
}

body {
  background-color: azure;
}
