<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <title>Loja de produtos de informática</title>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/container.css" />
    <link rel="stylesheet" href="css/cards.css" />

    <script src="js/products.js" defer></script>
    <script src="js/cards.js" defer></script>
  </head>
  <body>
    <header class="container">
      <nav>
        <a hx-get="/products" hx-target="#content" hx-swap="innerHTML">Produtos</a>
        <a hx-get="products/favoritos" hx-target="#content" hx-swap="innerHTML">Favoritos</a>
        <a hx-get="products/new" hx-target="#content" hx-swap="innerHTML">Novo produto</a>
        <a hx-get="/catalogo" hx-target="#content" hx-swap="innerHTML">Catálogo online</a>
      </nav>
    </header>

    <div class="container">
      <div id="content" hx-get="/products" hx-trigger="load" hx-swap="innerHTML"></div>
    </div>
  </body>
</html>
