<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <title>Loja de produtos de informática</title>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/container.css" />
    <link rel="stylesheet" href="css/components.css" />

    <script src="js/products.js" defer></script>
    <script src="js/cards.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="container flex-between">
        <h1 class="header-title">Loja Equipamentos de informática</h1>
        <nav class="header-nav">
          <a hx-get="/products" hx-target="#content" hx-swap="innerHTML">Produtos</a>
          <a hx-get="/products/favorites" hx-target="#content" hx-swap="innerHTML">Favoritos</a>
          <a hx-get="/products/new" hx-target="#content" hx-swap="innerHTML">Novo produto</a>
          <a hx-get="/products/external" hx-target="#content" hx-swap="innerHTML">Catálogo online</a>
        </nav>
      </div>
    </header>

    <div class="container padding">
      <div id="content" hx-get="/products" hx-trigger="load" hx-swap="innerHTML"></div>
    </div>
  </body>
</html>
